.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.viewport {
  x: 6;
  y: 24;
  width: 100%-12;
  height: 100%-36;
}
#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.bgColor {
  fill: black;
}
#lastCharged > text {
  text-length: 32;
}
text {
  fill: white;
  font-size: 16;
}
