text {
  fill: white;
  font-size: 16;
}

#connectState {
  text-length: 32;
  x: 50%;
  y: 40;
  font-size: 24;
  text-anchor: "middle"
}

#battery {
  x: 0;
  y: $;
  width: 100%;
  /* height: 100%; */
}

#batteryBody {
  x: 30+6;
  y: 20;
  width: 300-36-36-10-10;
  height: 93-24;
  fill: white;
}

#batteryTip {
  x: 300-36-10-10;
  y: 40;
  width: 10;
  height: 27;
  fill: white;
}

#batteryInside {
  x: 40;
  y: 22;
  width: 200;
  height: 65;
  fill: gray;
}

#batteryCharge {
  x: 40;
  y: 22;
  width: 0;
  height: 65;
}

#batteryChargeValue {
  x: 0;
  y: $+2;
  width: 100%;
  height: 120;
}

#batteryValue {
  x: 50%;
  y: 50%+20;
  text-anchor: middle;
  font-size: 50; 
}